## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## NuGet
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## IDE
.vs/
.vscode/
*.user
*.suo
*.csproj.user

## Logs
logs/

## OS
Thumbs.db
.DS_Store
